li,
P {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px;
  display: grid;
}
.profile {
  display: inline-block;
  background-color: rgb(255, 253, 253);
  border: 2px solid rgba(28, 110, 164, 0.28);
  margin-bottom: 25px;
  box-shadow: 1px 10px 23px 4px rgba(91, 51, 91, 0.61);
}
.location {
  margin: 0;
}
.stats {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between;
  display: flex;
  border-top: 2px solid rgba(28, 110, 164, 0.28);
}

.description {
  display: block;
  text-align: center;
}

.name {
  font-weight: bold;
}
