.statistics {
  display: inline-block;
  border: 2px solid rgba(28, 110, 164, 0.28);
  margin-bottom: 25px;
  box-shadow: 1px 10px 23px 4px rgba(91, 51, 91, 0.61);
}
.title {
  display: block;
  text-align: center;
}
.stat_list {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between;
  display: flex;
  border-top: 2px solid rgba(28, 110, 164, 0.28);
}
