.transaction_history {
  display: inline-block;
  background-color: rgb(255, 253, 253);
  border: 2px solid rgba(28, 110, 164, 0.28);
  margin-bottom: 25px;
  box-shadow: 1px 10px 23px 4px rgba(91, 51, 91, 0.61);
  /*border: 3px solid #1c6ea4;*/
}

.table_tr:hover {
  background-color: #ddd;
}
.table_tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table_th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.table_td,
.table_th {
  border: 1px solid #ddd;
  padding: 8px;
}
